h3,
label {
  font-weight: 600;
}
input,
.textArea {
  background: transparent;
  outline: none;
  border: none;
  color: #ffffff;
}
input::placeholder,
.textArea::placeholder {
  color: #ffffff99;
}
.addNoteContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  position: fixed;
  z-index: 1;
  color: white;
  padding: 30px;
}
.closeButton {
  background: #00000000;
  border: none;
  outline: none;
  color: #ffffff;
}
.noteTitle {
  font-size: 20px;
  font-weight: 600;
}
.submitButton {
  bottom: 28px;
  right: 28px;
  position: absolute;
}
