::-webkit-scrollbar {
  display: none;
}
.homeDiv {
  padding: 90px 10px 10px 10px;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100vh;
  column-gap: 15px;
  row-gap: 15px;
}
.logoutContainer {
  width: 150px;
  font-size: 16px;
  background: rgba(102, 102, 102, 0.25);
  box-shadow: 0 8px 32px 0 rgba(87, 87, 87, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(90, 90, 90, 0.18);
  padding: 20px;
  column-gap: 10px;
  color: #ffffff;
  position: absolute;
  top: 80px;
  right: 5px;
  z-index: 1;
  border-radius: 10px;
}
.notFound {
  height: 80vh;
  z-index: 1;
}
.notFound h5 {
  color: #565656;
}
.notesImage {
  width: 30px;
  filter: invert(66%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(86%)
    contrast(86%);
}
