.navbarContainer {
  width: 100vw;
  background: rgba(79, 79, 79, 0.25);
  box-shadow: 0 8px 32px 0 rgba(97, 97, 97, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  position: fixed;
  z-index: 1;
}
.btn.btn-rounded {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  display: grid;
  place-content: center;
}
option {
  background-color: #000000;
  color: #ffffff;
}
option:active {
  background-color: #000000;
}
select {
  background: none;
  outline: none;
  border: none;
  color: #ffffff;
}
.logo {
  cursor: pointer;
  font-size: 27px;
  text-decoration: none;
  font-weight: 600;
}
.containerRight {
  column-gap: 25px;
}
.profileDiv {
  font-size: 1.5rem;
  position: relative;
}
.profileButton {
  color: #ffffff;
  border: none;
  background: #00000000;
}
.profilePicture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.profileName {
  font-size: 18px;
}
@media only screen and (max-device-width: 415px) {
  .profileName {
    display: none;
  }
}
.altProfileDiv {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #8d8d8d85;
  color: #ffffff;
  border: none;
}
.firstLetter {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}
