.navbarContainer {
  width: 100vw;
  background: rgba(79, 79, 79, 0.25);
  box-shadow: 0 8px 32px 0 rgba(97, 97, 97, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  position: fixed;
  z-index: 1;
}
.containerRight {
  column-gap: 25px;
}
.profileDiv {
  font-size: 1.5rem;
  position: relative;
}
.profileButton {
  color: #ffffff;
  border: none;
  background: #00000000;
}
.profilePicture {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
.profileName {
  font-size: 18px;
}
